<style>
  div.openjdk-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37474f;
  }
  div.openjdk {
    display: flex;
    max-width: 900px;
  }
  div.openjdk-image {
    padding: 35px 20px;
  }
  div.openjdk-details {
    padding: 35px 20px;
  }
  div.openjdk p {
    color: #F7F7F7;
    background-color: #37474f;
  }
  div.openjdk h3 {
    color: #F7F7F7;
    background-color: #37474f;
  }
  div.openjdk h1 {
    color: #F7F7F7;
    background-color: #37474f;
  }
  div.openjdk h2 {
    color: #F7F7F7;
    background-color: #37474f;
  }
  div.openjdk-image img {
    padding: 3px 0px 0px 0px;
    /* box-shadow: 4px 4px 2px lightgrey; */
  }	
  div.content a.foojay {
     background-color: darkgrey;
  }
  a:link {
    color: #8ed1fc;
    background-color: transparent;
    text-decoration: underline;
  }

  a:visited {
    color: #8ed1fc;
    background-color: transparent;
    text-decoration: underline;
  }

  a:hover {
    color: #0693e3;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #8ed1fc;
    background-color: transparent;
    text-decoration: underline;
  }
</style>

<div class="openjdk-wrapper">
  <div id="keynote" class="openjdk">
    <div class="openjdk-image">
      <img class="speaker-image" src="{{site.url}}/images/foojay-logo.svg" alt="" width="150"/>
    </div>

    <div class="openjdk-details">
      <h3>
      </h3>
      <p>
      </p>
      <p>
      This year we're proud to partner with Foojay to include a track of talks by 
      <a href="https://foojay.io/about/" class="foojay" target="_blank">Friends of the OpenJDK</a>
      (in addition to our normal schedule of diverse technical talks).
      </p>
      <p>
       
      </p>
    </div>
  </div>
</div>
