<style>
  div.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141932;
  }
  div.feature {
    display: flex;
    max-width: 900px;
  }
  div.feature-image {
    padding: 35px 20px;
  }
  div.feature-details {
    padding: 35px 20px;
  }
  div.feature p {
    color: #F7F7F7;
    background-color: #141932;
  }
  div.feature h3 {
    color: #F7F7F7;
    background-color: #141932;
  }
  div.feature h1 {
    color: #F7F7F7;
    background-color: #141932;
  }
  div.feature h2 {
    color: #F7F7F7;
    background-color: #141932;
  }
  div.feature-image img {
    padding: 3px 0px 0px 0px;
    /* box-shadow: 4px 4px 2px lightgrey; */
  }	
</style>

<div class="feature-wrapper">
  <div id="keynote" class="feature">
    <div class="feature-image">
      <img class="speaker-image" src="{{site.url}}/images/foojay-logo.svg" alt="" width="150"/>
    </div>

    <div class="feature-details">
      <h3>
	Emcee: Steve Chen
      </h3>
      <p>
        Welcome to our host Steve Chen!
      </p>
      <p>
        This year we're proud to partner with Foojay Day to include a track of talks by Friends of the OpenJDK (in addition to our normal schedule of diverse technical talks).
      </p>
      <p>
        Thank you, Steve, for helping us bring back in person events to DC and hosting Frontrunners!
      </p>
    </div>
  </div>
</div>
