<style>
  div.foojay-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.foojay {
    padding: 10px 20px 10px;
    max-width: 800px;
  }
  div.foojay p {
    padding: 5px;
    font-family: 'Ysabeau Infant', sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white;
  }
  img.foojay-image {
    width: 180px;
    float: left;
    padding: 30px 20px 5px 0px;
  }
  
</style>

<div class="foojay-wrapper">
  <div class="foojay">
    <img class="foojay-image" src="{{site.url}}/images/foojay-logo.svg" alt=""/>
    
    <p>
     This year we're proud to partner with Foojay Day to include a track of talks by Friends of the OpenJDK 
     (in addition to our normal schedule of diverse technical talks).
    </p>
    <p>
    </p>

  </div>
</div>
