<style>
  div.organizers-wrapper {
    background: linear-gradient(42deg, #0065b1, #141932);
    background-size: 400% 400%;

    -webkit-animation: DevBackground 25s ease infinite;
    -moz-animation: DevBackground 25s ease infinite;
    animation: DevBackground 25s ease infinite;
  }

  @-webkit-keyframes DevBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @-moz-keyframes DevBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @keyframes DevBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  div.organizers {
    margin: 0 auto;
    max-width: 1100px;
    padding: 30px 0px;
  }
  div.organizers h3 {
    color: #4fc3f7;
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
  }
  div.organizers p {
    color: #28282B;
    text-align: center;
  }
  div.organizer-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.organizer-cell {
    background-color: #C0CCC7;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
    /*height: 365px;*/
  }
  div.organizer-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
  }
  div.organizer-cell p {
    color: #28282B;
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.organizer-cell a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.organizer-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
  div.organizer-cell-title {
    color: black;
    font-size: 18px;
    max-width: 200px;
    margin: auto;
  }
</style>

<div id="speakers" class="organizers-wrapper">
  <div class="organizers">
    <h3>Organizers</h3>
    <div class="organizer-row">
      <div class="organizer-cell">
        <img src="{{site.url}}/images/photos/cullen_gray.png" alt="" width="200"/>
        <p>Cullen Gray</p>
      </div>
      <div class="organizer-cell">
        <img src="{{site.url}}/images/photos/kadi_mckean.jpg" alt="" width="200"/>
        <p>Kadi McKean</p>
      </div>
    </div>
  </div>
</div>
