<style>
  div.tease-wrapper {
    background-color: #505c67;
    padding: 20px 10px;
  }
  div.tease {
    margin: 0 auto;
    max-width: 800px;
  }
  div.tease img {
    max-height:250px;
    max-width:250px;
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: grayscale(60%);
    transform: scaleX(-1);
  }
</style>
<div class="tease-wrapper">
  <div class="tease">
    <img src="{{site.url}}/images/auditoriumIMG_0425.jpg" alt="DevIgnition Conference">
  </div>
</div>
