<style>
  div.venue-wrapper {
    background-color: #D0ECE7;
  } 
  /*
  div.img-column {
    float: left;
    width: 33.33%;
  }
  */
  div.img-row::after {
    content: "";
    clear: both;
    display: table;
  }
  /*
  div.img-column {
    float: left;
    width: 50%;
  }
  */
  div.img-column {
    float: left;
    width: 100%;
  }
  div.right-extra {
    display: none;
  }
  div.left-extra {
    display: none;
  }
  /*@media only screen and (max-width: 499px) {
    div.img-invis {
      display: none;
    }
  }*/  
</style>

<div class="venue-wrapper">
  <div class="img-row">
    <div class="img-column left-extra">
      <img src="{{site.url}}/images/2024/venue/15337117534_47bdd368f2_c.jpg" alt="DevIgnition Conference" style="width: 100%">
    </div>
    <div class="img-column">
      <img src="{{site.url}}/images/2024/venue/15337117534_47bdd368f2_c.jpg" alt="DevIgnition Conference" style="width: 100%">
    </div>
    <div class="img-column right-extra">
      <img src="{{site.url}}/images/2024/venue/15337117534_47bdd368f2_c.jpg" alt="DevIgnition Conference" style="width: 100%">
    </div>
  </div>
</div>
