* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
body {
  background-color: blue;
  color: yellow;
  font-size: 18px;
}
div.content-wrapper {
  background-color: green;
  color: #28282B;
}
div.content {
  padding: 25px 15px;
  margin: 0 auto;
  max-width: 850px;
}
